<div class="page-header">
  Users
</div>
<table class="table table-striped">
  <% @profile_users.each do |user| %>
      <tr>
        <td>
          <%= image_tag gravatar_url(user, :big_icon), alt: user.name, title: user.name %>
        </td>
        <td>
          <%= link_to user.name, user %>
        </td>
        <td>
          @<%= user.initials %>
        </td>
        <% if current_user.is_admin? %>
        <td>
          <% if ! user.approved? %>
            <%= link_to 'Approve', approve_user_path(user), method: :post, class: 'btn btn-mini' %>
          <% end %>
        </td>
        <% end %>
      </tr>
  <% end %>
</table>